body {
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  height: 100px;
}

#name {
  color: #2a17ff;
}

#fortune {
  color: #008000;
}

.container {
  margin: auto;
  text-align: center;
  max-width: 980px;
  padding: 40px 0;
}

.welcome-message {
  font-weight: bold;
  font-size: 30px;
}

.result-message {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 20px;
}